<div class="card card-custom shadow">
 
 <img class="img-custom " *ngIf="item.name === 'Pane'" src="../../../assets/img/pane-commerce.jpg" 
 alt="item.img" >
 <img class="img-custom " *ngIf="item.name === 'Birra'" src="../../../assets/img/birra-ecommerce.jpeg" alt="item.img" >
 <img class="img-custom" *ngIf="item.name === 'Pasta'" src="../../../assets/img/pasta-ecommerce.jpeg" alt="item.img" >
 <img class="img-custom" *ngIf="item.name === 'Sigarette'" src="../../../assets/img/sigarette-ecommerce.jpeg" alt="item.img" >
 
 <div class="d-flex flex-row m-1 mt-2  justify-content-around">
<div class="d-flex flex-row">
 <p class="me-1">{{item.name}}: </p>
 <p class="price">{{item.price}} <span>€</span></p>
</div>
  
<app-quantity-modal class="shadow-custom"  [item]="item"></app-quantity-modal>
 </div>
 
</div>
