<div class="px-5 py-2 nav-bg w-100 mb-5">
 <nav class="navbar navbar-expand-lg  px-10">
  <a class="navbar-brand nav-custom-color lead " routerLink="/">
   <fa-icon [icon]="faCashRegister"></fa-icon>
  </a>
  <div class="navbar-nav    w-100  ">
   <a class="nav-item pl-5 nav-link nav-custom-color lead" href="#">Carrello</a>
  </div>
  <a routerLink="/login" class="float-right nav-custom-color lead link-login"  title="login" >
   <fa-icon class="icon-user" [icon]="faUser"></fa-icon>
   <p class="login">Login</p>
  </a>
 
 </nav>
 
</div>


