.nav-bg {
  background-color: #cee5f2;
}
.nav-custom-color {
  color: #536b78;
}
.home-icon {
  transition: 0.3s;
}
.home-icon:hover {
  transform: scale(1.1);
}
.cart-icon {
  transition: 0.3s;
  cursor: pointer;
}
.cart-icon:focus {
  outline: none;
}
.cart-icon:hover {
  transform: scale(1.1);
}
.count {
  position: relative;
  bottom: 10px;
  left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #cee5f2;
  background-color: #536b78;
  width: 22px;
  height: 22px;
  padding-left: 6px;

  border-radius: 50%;
}
