.btn-bg-custom {
  background-color: #118ab2;
  color: #fceade;
  transition: 0.3s;
}

.btn-bg-custom:hover {
  color: #cee5f2;
  background-color: #ff8a5b;
}
.btn-bg-custom:active {
  transform: translateY(10px);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
