<ng-template #content let-c="close" let-d="dismiss">
 <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Scegli una quantita</h4>
  <button type="button" class="close bg-white" aria-label="Close" (click)="d('Cross click')">
   <span aria-hidden="true">&times;</span>
  </button>
 </div>
 <div class="modal-body">
  <form action="" class="d-flex flex-row float-end">
   <input type="number" [(value)]="quantity" class="input ps-2">
   <div class="ms-3">
    <button (click)="decrement()"  class="me-1 arrow-btn">
     <fa-icon [icon]="faMinus"></fa-icon>
    </button>
    <button (click)="increment()" class="arrow-btn">
     <fa-icon [icon]="faPlus"></fa-icon>
    </button>
   </div>
  </form>
  <div *ngIf="err === true" class="alert alert-danger">
   La quantita non puo essere negavita
  </div>
 </div>
 <div class="modal-footer">
  <app-add-btn   (click)="saveItem()">Aggiungi</app-add-btn>
 </div>
</ng-template>
<button class="btn btn-sm md-btn-lg  btn-bg-custom " (click)="open(content)">Aggiungi</button>

